{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-2">
              <div class="hamburger hamburger-open">
                <button type="button" id="sidebarCollapse" class="btn navbar-btn">
                  <i class="glyphicon glyphicon-menu-hamburger"></i>
                  <span class="name-menu">Menu</span>
                </button>
              </div>

              <div class="hamburger hamburger-close">
                <button type="button" id="sidebarCollapse" class="btn navbar-btn">
                  <i class="glyphicon glyphicon-remove"></i>
                  <span class="name-menu">Menu</span>
                </button>
              </div>
            </div>

            <div class="col-xs-6 col-sm-8 col-md-7 col-brand">
              <div class="branding">{{ content }}</div>
            </div>

            <div class="col-xs-3 col-sm-2 col-md-1">
              {% if resa_data['code'] %}
                <button type="button" class="btn-resa hidden-xs hidden-sm">{{ resa_button_label }}</button>
                <button type="button" class="btn-resa visible-xs visible-sm"><span class="fa fa-calendar-check-o"></span></button>
              {% endif %}
            </div>
            
            <div class="col-md-2 hidden-xs hidden-sm">
                <a style="float:right" href="http://www.vanoise-parcnational.fr" title="Parc national de la Vanoise" target="_blank"><img src="/themes/custom/refuges/images/pnv_logo.png" alt="logo du parc national de la vanoise" class="img-responsive"></a>
            </div>
        </div>
      
        <div class="row widget-resa-1">
            {% if resa_data['code'] %}
              <div class="col-md-6 col-md-offset-3 col">
                {# Début du code widget AllianceReseaux #}
                <script type="text/javascript" src="https://gadget.open-system.fr/widgets-libs/rel/noyau-1.0.min.js"></script>
                <script type="text/javascript">
                  ( function() {
                  var widgetProduit = AllianceReseaux.Widget.Instance(
                     "Produit",
                     {
                       idPanier:"{{ resa_data['idPanier'] }}",
                       idIntegration:"{{ resa_data['idIntegration'] }}",
                       langue:"fr",
                       ui:"{{ resa_data.code }}"
                     }
                  );
                  widgetProduit.Initialise();
                  })();
                </script>
                <div id="widget-produit-{{ resa_data['code'] }}"></div>
                {# Fin du code widget AllianceReseaux #}
              </div>
            {% endif %}
        </div>
  </div>
{% endif %}
